/* dashboard.css */
body {
  
  
  margin: 0;
  padding: 0;
 
  height: 100%;
  display: flex;
}
.dashboard-title {

  background-color: #282323!important;
   
  font-weight: bold;
  text-align: center;
  
}
